@import '../../assets/style/colors.scss';

.search-box-container {

    display: grid;
    grid-template-columns: 190px auto;

    :active, :focus { outline-style: none;}

    .search-box {
        &_logo {
            text-align: right;
            padding: 0 20px;
            cursor: pointer;
       }

       &_search {
            text-align: left;

            .search-input {
                border: 0 rgba(0, 0, 0, 0.2);
                color: $color-dark-gray;
                font-size: 16px;
                border-radius: 3px;
                width: 90%;
                height: 30px;
                padding: 6px 6px 6px 10px;
                font-family: inherit;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
            }
    
            .search-btn {
                cursor: pointer;
                border: 0 rgba(0, 0, 0, 0.2);
                position: absolute;
                margin: 0 0 0 -35px;
                background: 9px 12px url(../../assets/img/ic_Search.png) $color-pale-gray;
                background-repeat: no-repeat;
                height: 42px;
                width: 35px;
                border-radius: 2px;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
        
                :before {
                    content: '';
                    display: block;
                    height: 42px;
                    border-left: 1px solid $color-pale-gray;
                    position: absolute;
                    top: 0;
                    right: 34px;
                }
            }
        }

    }
}