@import 'assets/style/colors.scss';
@import 'assets/style/css-grid.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}


:root {
  background-color: $color-pale-gray;
}

.app {
  background-color: $color-pale-gray;

  .container {

    .header {
      background-color: $color-yellow;
      padding: 10px;
      text-align: center;
    }

    .body {
      text-align: center;
    }
  }
}
