
:root {
  background-color: #EEEEEE;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .grid-item {
    padding: 10px;
    text-align: center;
  }

  .grid-item-all {
    background-color: #FEE600;
    grid-column: 1 / -1;
  }

  .grid-item-10 {
    grid-column: 2 / 12;
    padding: 0;
  }
}

.App {
  background-color: #EEEEEE;
}
