@import 'assets/style/colors.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-color: $color-pale-gray;
}

.app {
  background-color: $color-pale-gray;

  &__grid-container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    &-header {
      grid-column: 1 / -1;
      background-color: $color-yellow;
      padding: 10px;
      text-align: center;
    }

    &-body {
      grid-column: 2 / 12;
      text-align: center;
    }
  }
}
