@import '../../assets/style/colors.scss';

.product-list {
    background: $color-white;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    text-align: left;

    &__grid-container {
        display: grid;
        grid-template-columns: 180px repeat(2, auto);
        grid-gap: 0 16px;
        border-bottom: 1px solid $color-pale-gray;
        padding: 16px 0; 
        
        &-col {
            &-1 {
                cursor: pointer;
                img {
                    border-radius: 4px;
                    width: 100%;
                    max-width: 180px;
                    max-height: 180px;
                }
            }

            &-2 {
                top: 0;
                font-size: 24px;
 
                .price {
                    margin: 10px 0;
                    img {
                        padding: 0 10px;
                    }
                }
                .details {
                    cursor: pointer;
                    margin: 34px 0;
                    font-size: 18px;
                }
                a { 
                    text-decoration: none;
                    color: $color-dark-gray;
                }
            }

            &-3 {
                top: 0;
                text-align: center;
                font-size: 12px;
                color: $color-gray;
            } 
        }
    }

    ol {
        list-style: none;
        padding: 0px 15px;
    }
}
